<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Mockup2</title>  
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup1.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup2.css') }}" />
    <link href="https://fonts.cdnfonts.com/css/noe-display" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'all_black.png')}}" />
</head>

<body>
    <div id = "nav-bar">
        <div class= "browse-all"> <a href= "/browse-all">Browse all</a></div>
        <div class = icon> 
            <img src = "{{ url_for('static', filename= 'all_black.png')}}">
        </div>
        <div class = "title"><a style= "text-decoration:none;" color: black href= "/"> <h1>an intiMET reimagining </h1></span></a></div>
        <div class = "icon"> <a href= "/collections">Collections</a></div>
        <div class= "icon"> <a href= "/artists">Artists</a></div>
    </div>

    <center><h1>Browse All</h1></center>

    <center>
    <form id="form" role="search">
        <input type="search" id="query" name="q"
            placeholder="Search Artwork Titles ..."
            aria-label="Search through site content">
    </form>
    </center>

    <center>
    <div id = "sort-bar">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Collections<span class="caret"></span></button>
                <div class="dropdown-options">
                    <div id = 'collections_dropdown'></div>
                </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Geographic Location<span class="caret"></span></button>
                <div class="dropdown-options">
                    <div id = 'geographic_locations_dropdown'></div>
                </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Materials<span class="caret"></span></button>
                <div class="dropdown-options">
                    <div id = 'materials_dropdown'></div>
                </div>
        </div>
    </center>

    <div id = "image-page">
        <div class="image">
            <a href = "/artwork">
                <img src = "{{ url_for('static', filename= 'almond_blossom.jpg')}}"  alt = "white flower buds with a teal background">
            </a>
        </div>
        <div class = "image-detail"> <ul id = "artwork_info_1"></ul> </div>
        <div class="image">
            <a href = "/artwork">
                <img src = "{{ url_for('static', filename= 'almond_blossom.jpg')}}" alt = "white flower buds with a teal background">
            </a>
        </div>
        <div class = "image-detail"> <ul id = "artwork_info_2"></ul> </div>
    </div>
    <div id = "image-page">
        <div class="image">
            <a href = "/artwork">
                <img src = "{{ url_for('static', filename= 'almond_blossom.jpg')}}"  alt = "white flower buds with a teal background">
            </a>
        </div>
        <div class = "image-detail"> <ul id = "artwork_info_3"></ul> </div>
        <div class="image">
            <a href = "/artwork">
                <img src = "{{ url_for('static', filename= 'almond_blossom.jpg')}}"  alt = "white flower buds with a teal background">
            </a>
        </div>
        <div class = "image-detail"> <ul id = "artwork_info_4"></ul> </div>
    </div>


    <div id = "contact-info">
        <h4>Contact Us</h4>
        <p> hehehehe</p>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='mockup2.js') }}" ></script>
</body>
