<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Mockup5</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup1.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup5.css') }}" />
    <link href="https://fonts.cdnfonts.com/css/noe-display" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'all_black.png')}}" />
</head>

<body>
    <div id = "nav-bar">
        <div class= "browse-all"> <a href= "/browse-all">Browse all</a></div>
        <div class = icon> 
            <img src = "{{ url_for('static', filename= 'all_black.png')}}">
        </div>
        <div class = "title"><a style= "text-decoration:none;" color: black href= "/"> <h1>an intiMET reimagining </h1></span></a></div>
        <div class = "icon"> <a href= "/collections">Collections</a></div>
        <div class= "icon"> <a href= "/artists">Artists</a></div>
    </div>

    <center><h1>Artists</h1></center>

    <div id = "image-page">
        <div class="image">
            <a href = "/artist">
                <img src =  "{{ url_for('static', filename= 'almond_blossom.jpg')}}"  alt = "white flower buds with a teal background">
            </a>
        </div>
        <div class = "image-detail"> <ul><li style="list-style: none;"><h3> Artist Name</h3></li><li>XXXX-YYYY</li></ul></div>
        <div class="image">
            <a href = "/artist">
                <img src =  "{{ url_for('static', filename= 'almond_blossom.jpg')}}"  alt = "white flower buds with a teal background">
        </div>
        <div class = "image-detail"> <ul><li style="list-style: none;"><h3> Artist Name</h3></li><li>XXXX-YYYY</li></ul></div>
    </div>

    <div id = "image-page">
        <div class="image">
            <a href = "/artist"><img src =  "{{ url_for('static', filename= 'almond_blossom.jpg')}}"  alt = "white flower buds with a teal background"><img src = "almond_blossom.jpg"  alt = "white flower buds with a teal background">
            </a>
        </div>
        <div class = "image-detail"> <ul><li style="list-style: none;"><h3> Artist Name</h3></li><li>XXXX-YYYY</li></ul></div>
        <div class="image">
            <a href = "/artist">
                <img src =  "{{ url_for('static', filename= 'almond_blossom.jpg')}}"  alt = "white flower buds with a teal background">
            </a>
        </div>
        <div class = "image-detail"> <ul><li style="list-style: none;"><h3> Artist Name</h3></li><li>XXXX-YYYY</li></ul></div>
    </div>








    <div id = "contact-info">
        <h4>Contact Us!</h4>
        <p> hehehehe</p>
    </div>

</body>
